.a-container {
  font-size: 20px;
}

.base-input {
  font-size: 18px;
}

.input-label {
  width: 105px;
}

.input-container {
  display: flex;
  margin: 3px 1px;
}

.btn-submit {
  font-size: 18px;
  padding: 3px 15px;
}